{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AdminPayRel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Releaseddate</th>
                <td>{{ entity.releasedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Releasedamt</th>
                <td>{{ entity.releasedAmt }}</td>
            </tr>
            <tr>
                <th>Actualamt</th>
                <td>{{ entity.actualAmt }}</td>
            </tr>
            <tr>
                <th>Paymode</th>
                <td>{{ entity.payMode }}</td>
            </tr>
            <tr>
                <th>Paystatus</th>
                <td>{{ entity.payStatus }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminpayrel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('adminpayrel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
