{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AffiliatePayReq</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Requestedamt</th>
                <td>{{ entity.requestedAmt }}</td>
            </tr>
            <tr>
                <th>Requesteddate</th>
                <td>{{ entity.requestedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Reqstatus</th>
                <td>{{ entity.reqStatus }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('affiliatepayreq') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('affiliatepayreq_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
